body {
    display: flex;
    background-color: #E1D4C9;
    margin: 0;
}

.logo {
    display: inline-block;
    text-decoration: none;
    transition: opacity 0.3s ease;
    
}

.logo svg{
    height: 200px;
    width: 200px;
}



.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    align-items: center;
}


.hero {
    display: flex;
    justify-content: center;
    background-image: url("./images//coffee_big.jpg");
    max-width: 1360px;
}


.hero-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: white;

}


.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.hero {
    background-image: url('./images/coffee_big.jpg'); 
    background-size: cover;
    background-position: center;
    height: 530px; 
    border-radius: 40px;
    margin: 200px;
    display: flex;
    align-items: center; 
    padding-left: 60px; 
}

.hero-content {
    max-width: 500px;
    color: white; 
}


/* 
.hero {
    height: 500px;
    margin: 0 5%;
    border-radius: 40px;
    background: url('coffee-pour.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    padding: 0 60px;
}



.hero h1 {
    font-size: 3rem;
    line-height: 1.1;
}

.btn-menu {
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    background-color: #f1e4d8;
    cursor: pointer;
    font-weight: bold;
}

h2 i, h1 span {
    color: #a38b7a;
    font-style: italic;
} */